* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  font-size: large;
}
body {
  background-color: #ffffff;
  display: grid;
  height: 100vh;
  place-items: center;
}
.main {
  width: 400px;
  height: 450px;
  background-color: #eaf6ff;
  position: absolute;
  border: 5px solid rgb(95, 89, 89);
  border-radius: 6px;
}
.main input[type="text"] {
  width: 88%;
  position: relative;
  height: 80px;
  top: 10px;
  text-align: right;
  padding: 3px 6px;
  outline: none;
  font-size: 40px;
  border: 3px solid rgb(96, 91, 91);
  display: flex;
  margin: auto;
  border-radius: 6px;
  color: black;
  background-color: rgb(249, 249, 249);
}
.btn input[type="button"] {
  width: 90px;
  padding: 2px;
  margin: 2px 0px;
  position: relative;
  left: 13px;
  top: 20px;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
  background-color: #00a9ff;
  border-radius: 6px;
  color: rgb(10, 10, 10);
}
.btn input[type="button"]:hover {
  background-color: #eaf6ff;
  color: #000000;
}
#d {
  background-color: #f875aa;
  color: #000000;
}
#d:hover {
  background-color: #eaf6ff;
  color: #000000;
}
